{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<ul class="flux">
    {% for tweet in tweets %}
        <form action="{{ path('retweet', {id: tweet.id}) }}" method="get">
            <li class="tweetId_{{tweet.id}}">
            <p>{{ tweet.content }}</p>
            {% if true %}
                <input type="submit" value="Retweet" />
            {% else %}
                <input type="submit" value="UnRetweet" />
            {% endif %}
            </li>
        </form>
    {% endfor %}
</ul>

<ul class="users">
    {% for user in users %}
        <form action="{{ path('subscribe', {id: user.id}) }}" method="get">
            <li class="userId_{{user.id}}">
                <p>{{user.email}}</p>
                {% if true %}
                    <input type="submit" value="Follow" />
                {% else %}
                    <input type="submit" value="UnFollow" />
                {% endif %}
            </li>
        </form>
    {% endfor %}
</ul>

<button onclick="filter()" class="filter-button">Filter</button>

<div class="example-wrapper">
        {{form(formPost)}}
</div>
{% endblock %}
