{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<ul class="flux">
    {% for tweet in tweets %}
        <li class="tweetId_{{tweet.id}} {% if tweet.is_rt is not null %}retweet{% endif %}">
            <form action="{{ path('retweet', {id: tweet.id}) }}" method="get">
                <p>{{ tweet.content }}</p>
                {% if tweet.is_rt is null %}
                    <input type="submit" value="Retweet" />
                {% else %}
                    <input type="submit" value="UnRetweet" />
                {% endif %}
            </form>
        </li>
    {% endfor %}
</ul>

<ul class="users">
    {% for user in users %}
        <li class="userId_{{user.id}}">
            <form action="{{ path('subscribe', {id: user.id}) }}" method="get">
                <p>{{user.email}}</p>
                {% if true %}
                    <input type="submit" value="Follow" />
                {% else %}
                    <input type="submit" value="UnFollow" />
                {% endif %}
            </form>
        </li>
    {% endfor %}
</ul>

<button onclick="filter()" class="filter-button">Filter</button>

<div class="example-wrapper">
        {{form(formPost)}}
</div>
{% endblock %}
